.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.login-buttons-container {
    text-align: center;
}

.login-button {
    padding: 10px 15px;
    margin: 0 20px;
}

.firebase-error {
    color: red;
    margin: 10px 0 20px;
}