.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.product-name {
    text-align: justify;
    margin: 0;
}

.product-details {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    gap: clamp(18px, 3vw, 25px);
    margin-top: 15px;
}

.product-info {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin: 20px 0 30px 0;
}
.product-info>*{
    margin: 0;
}

.product-price {
    font-size: 35px;
    font-weight: bold;
}

.product-stock {
    font-size: 22px;
}

.product-rating {
    font-size: 20px;
}

.product-star-count {
    font-size: 20px;
    display: inline;
    margin: 0 0 0 10px;
}

.product-action-buttons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.product-action-buttons>* {
    font-size: clamp(13px, 2vw, 20px);
    margin: 0;
}

.cart-icon {
    margin-right: 10px;
}

.icon-color {
    color: var(--theme-color);
}

@media screen and (min-width: 768px) {
    .product {
        flex-direction: row;
    }
    .product-info {
        justify-content:flex-start;
    }
    .product-action-buttons {
        justify-content: flex-start;
    }
    .product-details {
        justify-content: flex-start;
    }
}