
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0;
}
header img{
    width: 50%;
    max-width: 400px;
}
nav{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}
#nav{
    background-color: var(--theme-color);
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: clamp(10px, 2vw, 20px) clamp(7px, 1.5vw, 15px);
}
#nav a:hover, #nav a.active{
    background-color: var(--theme-hover-color);
}
#cart-icon{
    color: #ffffff;
    font-size: clamp(20px, 2vw, 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px clamp(5px, 1.5vw, 15px);
    cursor: pointer;
    position: relative;
}
#cart-icon #cart-items{
    font-size: clamp(10px, 1.5vw, 15px);
    font-weight: bold;
    color: white;
    background-color: var(--theme-hover-color);
    position: absolute;
    left: 60%;
    bottom: 60%;
    width: max-content;
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
@media screen and (min-width:768px) {
    #nav a{ font-size: 20px; }
}