
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0;
}
header img{
    width: 50%;
    max-width: 600px;
}
header nav{
    background-color: darkorange;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 15px;
}
header nav a:hover{
    background-color: #ff7300;
}
@media screen and (min-width:768px) {
    header nav a{ font-size: 20px; }
}