#search-area{
    background-color: white;
    text-align: center;
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
#search-field{
    font-size: 20px;
    width: 50%;
    background-color: rgba(255, 140, 0, 0.3);
    padding: 10px;
    border:0;
    outline: 0;
    border-radius: 10px;
}
#cart-icon{
    color: #ff7300;
    font-size: 25px;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
}
#cart-icon #cart-items{
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 81, 0);
    position: absolute;
    left: 80%;
    bottom: 80%;
    width: max-content;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}