@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --theme-color: #ff8c00;
  --theme-hover-color: #ff7300;
}

* {
  font-family: 'Varela Round', sans-serif;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}